*{
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --cor-principal: #00a4da;
  --cor-branca: #fff;
  --cor-preta: #000;
  --cor-texto: #4a4a4a;
  --fundo-corpo: #edefea;
   --font_titulo: 'Neo',sans-serif;
  --font_texto:'Neo_paragrafo', sans-serif;
}

@font-face {
  font-family: 'Neo';
  src: url(Font/Titillium/TitilliumMaps29L-800wt.otf);
}

  @font-face {
    font-family: 'Neo_paragrafo';
    src: url(Font/Titillium/TitilliumMaps29L-400wt.otf);
  }
body {
    background-image: url(img/fundo/FUNDO\ AZUL\ AZUL\ BRANCO.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 99.5vh;
    background-color: white;
}


header{
    padding: 10px;
}
header img{
    width: 70px;
}
.cadastro {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.cadastro .cabeca{
    gap: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cadastro .cabeca h3{
    font-family: var(--font_titulo);
    color: var(--cor-branca);
}

.cadastro .cabeca span{
    color: #E8F3F9;
    font-family:var(--font_texto);
}


form .nome{
    padding: 10px;
}

form .nome .nome1{
    padding: 5px;
    gap: 10px;
    display: flex;
    position: relative;
    width: 100%;
}
form .nome  label{
    font-family: var(--font_texto);
    margin-left: 8px;
    color: var(--cor-texto);
}
form .nome .nome1 img{
    position: absolute;
    top: 16px;
    left: 10px;
}

form .nome .nome1 input{
    font-family: var(--font_texto);
    width: 300px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--cor-principal);
    padding: 12px 25px 12px 25px;
    outline: none;
}

form .area_entrar{
    width: 90%;
    display: flex;
    justify-content: end;
}
form .criar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 10px;
    gap: 15px;
    width: 96%;
}
form .area_acao .area_entrar{
    display: flex;
    justify-content: end;
}
form .area_acao span{
  color: var(--cor-texto);

}
form .criar button{
    width: 100%;
    padding: 10px;
    background-color: var(--cor-principal);
    border-radius: 10px;
    cursor: pointer;
    border: none;
} 
form .criar .area_entrar{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
form .criar .entrar{
    background-color: transparent;
    border: 1px solid var(--cor-principal);
}
form .criar .entrar a{
    color: var(--cor-principal);
}

form .criar button a{
    color: var(--cor-branca);
    font-family: var(--font-padrao);
}



form .criar span{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

form .criar span a{
    color: var(--cor-principal);
}
    