* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --cor-principal: #086785;
  --cor-branca: white;
  --cor-preta: black;
  --cor-texto: #4a4a4a;
  --fundo-corpo: #edefea;
  --font_titulo: Arial, Helvetica;
  --cor-preta_segundaria: #242424;
}
body{
  background-image: url(img/fundo/fundo_body.png);
  background-size: cover;
  background-position: 43%;
  background-repeat: no-repeat;
  height: 100vh;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}

.login .boas_vindas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width:70%;
  text-align: center;
}
.login .boas_vindas h2{
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.login .boas_vindas p{
  color: var(--cor-texto);
}

.login a{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-texto);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.login a:hover{
  color: var(--cor-principal);
}
.login .contas{
    display: flex;
    gap: 50px;
    margin: 30px;
    padding: 10px;
    border: 1px solid rgba(2, 180, 174, 0.157);
    background-color: rgb(8, 115, 134, 886, 183, 0,0);
}
.login .contas .empresa{
  padding: 5px;
}
.login .contas .usuario{
  padding: 5px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.2);
  background: rgba(236, 231, 231, 0.12);
  backdrop-filter: bur(10px);
  --wibkit-backdrop-filter:blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
form input{
  border: none;
  border-bottom: 1px solid var(--cor-texto);
  padding: 10px;
  background-color: transparent;
  outline: none;
  width: 75%;
}

form .senha, .email{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

form .container_form{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width:90%;
  justify-content: center;
  align-items: center;
}

form .senha_info{
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 20px;
  width: 75%;
  align-items: center;
  font-size: clamp(13px, 14px, 15px);
}
form .cadastro{
  display: flex;
  gap: 10px;
}
form .cadastro a{
  text-align: center;
  color: var(--cor-principal);
}

form .entrar{
  width: 74%;
}
form .esqueci{
  padding: 20px;
}
form .esqueci a{
  color: var(--cor-principal);
}
form .entrar button{
  display: flex;
  justify-content: center;
  padding: 14px;
  width: 100%;
  background-color: var(--cor-principal);
  border: none;
  border-radius: 10px;
}

form .entrar button a{
  text-align: center;
  color: var(--cor-branca);
}

