* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --cor-principal: #086785;
  --cor-branca: white;
  --cor-preta: black;
  --cor-texto: #4a4a4a;
  --fundo-corpo: #edefea;
  --font_titulo: Arial, Helvetica;
  --cor-preta_segundaria: #242424;
}
body {
  background-color: var(--fundo-corpo);
}

.cabecalho {
  /*Css do header**/
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--cor-principal);
  position: fixed;
  top: 0;
  z-index: 9999;
}

/* BOTÃO MOBILE (hamburger) */
.btn_mobile {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10001;
}

.btn_mobile span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* ANIMAÇÃO DO BOTÃO */
.btn_mobile.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.btn_mobile.active span:nth-child(2) {
  opacity: 0;
}
.btn_mobile.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* NAV MODERNO */
#nav_bar {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100%;
  background: rgba(2, 112, 131, 0.808);
  backdrop-filter: blur(20px);
  transition: 0.4s ease-in-out;
  z-index: 10000;
  height: 36vh;
}

/* QUANDO ABRIR */
#nav_bar.mostrar {
  bottom: 0;
}

/* LISTA */
.listas {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 15px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.listas li {
  list-style: none;
  cursor: pointer;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

/* LINKS */
.listas li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
}

/* HOVER MODERNO */
.listas li:hover {
  background: rgba(1, 180, 200, 0.219);
  transform: translateX(5px);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}


.conteudo_principal {
  margin: 76px auto;
}

.conteudo_principal .boas_vindas{
   background: rgba(21, 21, 21, 0.9);
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(img/provincias/luanda.jpg);
  background-size: cover;
  background-position: 43%;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: var(--font_titulo);
  font-size: clamp(18px, 2vw, 20x);
  font-weight: 900;

}